<div id="episodeViewScene">
	<div id="topContent" class="topContent">
		<div id="progress-info" class="stream-info">
			<div id="playback-progress" class="elapsed">00:05</div>
			<div id="progress" x-mojo-element="ProgressSlider" class="stream-buffer-bar "></div>
			<div id="playback-remaining" class="duration">89:26</div>
		</div>
	</div>
	<!-- drPodder's loading scene in miniature: a backdrop absolutely positioned to fill the
	     scene, which only has a size if the scene element itself has one. -->
	<div id="backdrop" style="position:absolute; z-index:-1; width:100%; height:100%"></div>
	<div id="report"></div>
</div>
